.container {
    width: 750px;
    background-color: #f3f3ff;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #424b6b;
    text-align: center;
}

.section {
    width: 90%;
    height: 150px;
    display: flex;
    margin-top: 15px;
    padding: 15px;
}

.section1 {
    background-color: #5ecad1;
    justify-content: space-between;
}

.section2 {
    background-color: #d6b2c3;
    justify-content: space-evenly;
    flex:;
}

.section3 {
    background-color: #fcfcff;
    justify-content: space-around;
}

p {
    text-align: center;
}