.container {
    width: 950px;
    background-color: silver;
    margin: 10px auto;
    padding: 15px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 20px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}

.main {
    display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
    vertical-align: top;
    font-size: 0;
    
}


.sub-content {
    display: inline-block;
    height: 200px;
    width: 210px;
    background-color: yellow;
    margin: 8px;
}
#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}