* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.user-card {
    width: 500px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid #dcdcdc;
    position: relative;
}

.card-head {
    height: 25%;
    background-color: #17a2b8;
}

.user-card .profile-icon img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.user-info {
    padding: 35px 35px 10px 20px;
}

p {
    margin-top: 10px;
}

p img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}