
body {
	margin: 25px;
}
h1 {
    background-color: black;
    color: aqua;
    font-weight: bolder;
    padding: 7px;
}

span {
    color: white;
}

h2 {
    text-align: center;
    color: white;
    background-color: purple;
    font-weight: lighter;
    padding: 10px;
}

h3 {
    text-align: right;
    color: black;
    background-color: rgb(95, 188, 211);
    font-weight: lighter;
    text-decoration: underline;
    padding: 10px;
}