.container {
    width: 950px;
    background-color: silver;
    margin: 0px auto;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin-bottom: 15px;
}

.side-nav {
    height: 300px;
    width: 200px;
    background-color: blue;
}

.main {
    height: 400px;
    width: 700px;
    background-color: red;
    font-size: 0;

}

.sub-content {
    height: 200px;
    width: 210px;
    margin-left: 12px;
    background-color: yellow;
    margin: 8px;

}

#advertisement {
    height: 120px;
    width: 660px;
    background-color: purple;
    margin: 10px;
}

.row {
    display: flex;
    flex-direction: row;
}