<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkerboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="container">
    {% for row in range(y) %}
        <div class="row">
            {% for col in range(x) %}
                <div class="box"
                style="background-color: {{ color1 if (row+col) % 2 == 0 else color2 }}">

                </div>
            {% endfor %}
        </div>
    {% endfor %}
</div>

</body>
</html>