* {
    padding: 0;
    margin: 0;
}

.nav-title {
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav {
    background-color: #333333;
    padding: 10px 20px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
    align-items: center;
}

.nav-links a.active {
    color: white;
    font-weight: bold;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.nav-links a:hover {
    color: #138496;
}

.btn {
    color: #fff;
    background-color: #17a2b8;
    padding: 4px;
    border-width: 3px;
    border-style: solid;
    border-color: black;
    box-shadow: 3px 3px 0px black;
}

.btn:hover {
    background-color: #138496;
}

.container {
    width: 900px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

.main {
    display: flex;
    margin-top: 40px;
    gap: 20px;
}

.main .left {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.user-card {
    height: 250px;
    border: 2px solid #dcdcdc;
    position: relative;
}

.card-head {
    height: 25%;
    background-color: #17a2b8;
}

.user-card .profile-icon img {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    top: 20px;
    left: 20px;
}

.user-info {
    padding: 35px 35px 10px 20px;
}

p {
    margin-top: 10px;
}

p img {
    width: 15px;
    height: 15px;
    margin-right: 3px;
}

.main .right {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.education {
    width: 100%;
    border: 2px solid #ccc;
}

.edu-head {
    background: #333;
}

.edu-head p {
    color: white;
    font-weight: bold;
    display: inline-block;
}

.education .edu-content {
    margin-left: 12px;
}

.education .edu-content * {
    margin: 12px 0px;   
}

.edu-content h4 {
    color: #999;
    font-weight: 600;
}

.connection-request {
    width: 100%;
    border: 2px solid #ccc;
}

.requests-head {
    background: #333;
    padding: 15px;
    color: #eaeaea;
}

.requests .badge{
    background-color: #c8c8c8;
    color: #312323;
    padding: 4px 10px;
    border-radius: 50%;
    font-size: 14px;
}

.conn-content .text{
    color: #fff;
    font-size: 16px;
}

.requests-head p {
    color: #eaeaea;
    font-weight: bold;
}

.request-row {
    margin: 10px;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.username {
    display: flex;
    align-items: center;
    gap: 10px;
}

.request-row img {
    width: 20px;
    height: 20px;
}

.your-connections {
    width: 100%;
    border: 2px solid #dcdcdc;
}

.connections{
    display: flex;
    align-items: center;
    gap: 8px;
    font-family: Arial, sans-serif;
    font-weight: 600;
}

.connections .badge{
    background-color: #c8c8c8;
    color: #312323;
    padding: 4px 10px;
    border-radius: 70%;
    font-size: 14px;
}

.text{
    color: #fff;
    font-size: 16px;
}

.requests-footer {
    background: white;
    border: 2px solid #ccc;
    padding: 10px;
}